<!doctype html>
<html lang="en">
<head>
  <% include ../includes/headerStuff %>
</head>
<body>
  <% include ../includes/pageHeader %>
  <!-- Main Content Goes Here -->
  <main role="main" class="container">
    <div class="starter">
      <h2>Delete <%=product.productName%>?</h2>
      <form method="post" action="<%=menuPath%>/delete/<%=product.productID%>">
        <button type="submit" class="btn btn-primary">Delete <%=product.productName%>!</button>
        <a href="<%=menuPath%>" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </main>
<% include ../includes/pageFooter %>
<% include ../includes/footerStuff %>
</body>
</html>